@import url('https://fonts.googleapis.com/css2?family=Latodisplay=swap');

body {
    margin: 0;
}

html {
    font-family: "Lato", sans-serif;
}

header h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-bold {
    font-weight: bold;
}

.p-grey {
    color: #a19c99;
    font-weight: 200;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.content ul {
    list-style: none;
    padding-left: unset;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.list-item h4 {
    margin: 10px;
    color: #a19c99;
    font-weight: 600;
}

.list-item p {
    margin: 10px;
}

.sub-item {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 50px;
    width: 50px;
}