header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

li {
    padding: 10px;
}