body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 10px;
}

img {
    object-fit: cover;
    width: 100px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 30px 17px rgba(0,0,0,0.3);
}

.wide-img {
    width: 400px;
}