html {
    background-color: lightgray;
}

.list {
    list-style: none;
}

body {
    display: flex;
}

.list .item {
    display: flex;
    justify-content: center;
}

.list {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.item {
    width: 30%;
}

img {
    width: 50%;
    height: 50%;
    border: 20px solid black;
    padding: 200px 50px;
    background-color: white;
}